<div class="modal-header">
  <h4 class="modal-title">Bulk Add</h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #bulkAddForm="ngForm">
    <div class="form-group">
      <label for="file-input">Upload a PAM configuration file:</label>
      <input (change)="onFileUpload($event.target.files)" type="file" class="form-control-file" id="file-input" name="file_input">
    </div>
    <div class="form-group">
      <label for="textarea-input">Or, copy and paste a PAM configuration:</label>
      <textarea [(ngModel)]="textarea_input" class="form-control" id="textarea-input" name="textarea_input" rows="4" placeholder="auth required pam_unix.so"></textarea>
    </div>
    <button type="button" class="btn btn-success" (click)="onSubmit(bulkAddForm)">Add</button>
    <button type="button" class="btn btn-info" (click)="ngbActiveModal.dismiss()">Cancel</button>
  </form>
</div>
<div class="modal-footer">
</div>
