<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">PAM</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Man Pages</a>
    </li>
  </ul>
</nav>

<main role="main" class="container">
  <div class="container-header">
    <h1>Pluggable Authentication Modules</h1>
    <p class="lead">Simulate PAM authentications in your browser.</p>
    <p class="small what-is">
      <a href="https://en.wikipedia.org/wiki/Pluggable_authentication_module" target="_blank">What is PAM?</a>
    </p>
  </div>

  <app-service></app-service>

  <div class="row">
    <div class="col-lg-6">
      <dl class="row">
        <dt class="col-sm-3">required</dt>
        <dd class="col-sm-9">Success is required; on failure all remaining modules are run, but the request will be denied.</dd>

        <dt class="col-sm-3">requisite</dt>
        <dd class="col-sm-9">Success is required, and on failure no remaining modules are run.</dd>

        <dt class="col-sm-3">sufficient</dt>
        <dd class="col-sm-9">Success is sufficient, and if no previous required module failed, no remaining modules are run.</dd>

        <dt class="col-sm-3">binding</dt>
        <dd class="col-sm-9">Success is sufficient; on failure all remaining modules are run, but the request will be denied.</dd>
      </dl>
    </div>
    <div class="col-lg-6">
      <ul class="list-group">
        <li class="list-group-item">
          <button type="button" class="btn btn-success" disabled>✓</button> ‒ Success
        </li>
        <li class="list-group-item">
          <button type="button" class="btn btn-danger" disabled>✗</button> ‒ Failure
        </li>
        <li class="list-group-item">
          <button type="button" class="btn btn-info" disabled>+</button> ‒ Create module
        </li>
        <li class="list-group-item">
          <button type="button" class="btn btn-info" disabled>−</button> ‒ Remove module
        </li>
      </ul>
    </div>
  </div>
</main>
