<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">PAM</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Man Pages</a>
    </li>
  </ul>
</nav>

<main role="main" class="container">
  <div class="container-header">
    <h1>Pluggable Authentication Modules</h1>
    <p class="lead">Simulate PAM authentications in your browser.</p>
    <p class="small what-is">
      <a href="https://en.wikipedia.org/wiki/Pluggable_authentication_module" target="_blank">What is PAM?</a>
    </p>
  </div>
  <div class="jumbotron">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Control</th>
          <th scope="col">Module</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td>
          <select>
            <option value="required">required</option>
            <option value="requisite">requisite</option>
            <option value="sufficient">sufficient</option>
            <option value="optional">optional</option>
          </select>
        </td>
        <td><code>pam_unix.so</code></td>
        <td><button type="button" class="btn btn-outline-success">✓</button></td>
        <td><button type="button" class="btn btn-outline-danger">✗</button></td>
        <td><button type="button" class="btn btn-outline-info">＋</button></td>
        <td><button type="button" class="btn btn-outline-info">－</button></td>
      </tr>
    </tbody>
    </table>
  </div>
</main>
